defmodule Octopus.Service.<%= name %> do


  <%= for {name, attrs} <- interface do %>
    def <%= name %>(args) do
      Octopus.Executors.Cli.call("<%= command %>", args, "<%= Base.encode64(:erlang.term_to_binary(attrs)) %>")
    end
  <% end %>
end
